.flex-center {
	display: flex;
	justify-content: center;
}
.left-margin {
	margin: 0px 16px;
}
#sj-frame {
	border: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 87vh;
	margin-top:60px;
	background-color: #111;
}
#sj-error {
	color: #ff6666 !important;
	white-space: pre-wrap;
}
#sj-error-code {
	font-size: 12px;
	color: #fff;
	font-family: "Courier New", Courier, monospace;
}
.desc p {
	width: 560px;
	color: rgba(253, 253, 253, 0.514);
}
#sj-address {
	background: none;
	font-family: inherit;
	padding: 0px 17px;
	height: 48px;
	border: 1px solid rgb(255, 255, 255, 0.2);
	color: var(--text-color);
	border-radius: 3px;
	outline: none;
	width: 350px;
	margin-top: 5px;
	border-radius: 50px;
	color: #fff;
	transition: border-radius 0.1s;
}
#sj-address:focus {
	border: 1px solid rgba(253, 253, 253, 0.514);
	border-radius: 6px;
}